baseURL = 'https://azabelmena.github.io/zibaldone'
languageCode = 'en-us'
title = "Zibaldone"
copyright = 'Alec S. Zabel-Mena'
enableRobotsTXT = true

[module]
  [[module.imports]]
    path = "github.com/michenriksen/hugo-theme-til"

[outputs]
  home = ['html']
  section = ['html', 'rss', 'json']
  page = ['html']

[menus]
  [[menus.main]]
    name = 'Posts'
    pageRef = '/posts'
    weight = 30

[markup]
  [markup.highlight]
    noClasses = false
    style = 'tokyonight-night'

    [markup.goldmark]
        [markup.goldmark.extensions]
            [markup.goldmark.extensions.passthrough]
                enable = true
                [markup.goldmark.extensions.passthrough.delimiters]
                    block = [['\[', '\]']]
                    inline = [['\(', '\)']]


[params]
  math=true
  dateFormat = ':date_long'

  showGraph = false

  [params.author]
    name = 'Alec S. Zabel-Mena'
    email = 'alec.zabel@upr.edu'

  [params.home]
    showRecentPosts = true

    recentPostsLimit = 3

  [params.notes]
    pageSize = 20

    showCategoryFilter = true

  [params.footer]
    creativeCommonsLicense = 'by_nc'

    showCreativeCommonsIcons = true

    showThemeCredit = true

  [params.robotstxt]
    blockCC = true

    blockAI = true
